<div class="row">
    <div class="col">
        <div class="card border-0">
          <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">
          <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Voluptatum sed praesentium quam, placeat maxime minus recusandae.</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0">
          <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">
          <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Voluptatum sed praesentium quam, placeat maxime minus recusandae.</p>
          </div>
        </div>        
    </div>
    <div class="col">
        <div class="card border-0">
            <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Voluptatum sed praesentium quam, placeat maxime minus recusandae.</p>
            </div>
        </div>
    </div>
</div>