<div class="card">
    <div class="card-body">
        <h2 class="card-title">Portafolio</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Voluptatum sed praesentium quam, placeat maxime minus recusandae.</p>
                     </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Voluptatum sed praesentium quam, placeat maxime minus recusandae.</p>
                    </div>
                </div>        
            </div>
            <div class="col">
                <div class="card border-0">
                    <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Voluptatum sed praesentium quam, placeat maxime minus recusandae.</p>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>